* {
    padding: 0;
    margin: 0;
}

.header-menu {
    background-color: #333; /* 背景色 */
    /*overflow: hidden; !* 清除浮动 *!*/
    display: flex; /* 使用Flex布局 */
    justify-content: space-between; /* 子元素水平间距相等 */
    align-items: center; /* 垂直居中对齐 */
    padding: 20px 25px; /* 上下内边距 */

}

.header-menu i {
    color: white;
}

.header-menu button {
    background: none;
    border: none;
}

.header-menu a, .header-menu button {
    color: white; /* 文本颜色 */
    text-decoration: none; /* 去除下划线 */
    font-size: 16px; /* 字体大小 */
    transition: color 0.3s ease; /* 颜色过渡效果 */
    margin: 0 10px;
}

.header-menu a:hover {
    color: #ddd; /* 鼠标悬停文本颜色 */
}

/* 示例文本样式 */
.header-message {
    color: #666;
    text-align: center;
    margin-top: 20px;
}

