* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #f8f9fa;
}

/* 基础样式保持不变 */
.main-bar {
    min-width: 400px;
    padding: 100px 50px 100px 50px; /* 确保padding书写无误 */
    max-height: 80%;
    overflow-y: auto;
    border-radius: 0;
}

/* WebKit内核浏览器（如Chrome, Safari）的滚动条样式 */
.main-bar::-webkit-scrollbar {
    width: 8px; /* 宽度 */
}

.main-bar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* 轨道颜色 */
    border-radius: 4px;
}

.main-bar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* 滑块颜色 */
    border-radius: 4px;
    transition: background-color 0.3s ease; /* 平滑过渡 */
}

.main-bar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* 鼠标悬停时滑块颜色 */
}

/* Firefox 的滚动条样式 */
.main-bar {
    scrollbar-width: thin; /* 设置滚动条宽度 */
    scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* 滑块和轨道颜色 */
}


.main-bar p {
    font-size: 18px;
    line-height: 40px;
}

.main-bar-title {
    text-align: center;
    margin-bottom: 50px;
}
