<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/mainLayout}"
>
<th:block th:include="front/common/mainLayout :: head('/img/front/bg.png')"/>

<body>
<th:block th:include="front/common/mainLayout :: header"/>
<th:block layout:fragment="main">
    <div class="login-bar main-bar">
        <div class="main-bar-title">
            <h1 th:text="${f19}"></h1>
        </div>

        <p th:text="${f20}"></p>
<!--        <p th:text="${f21}"></p>-->
    </div>
</th:block>
</body>
</html>

