<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/loginLayout}"
>
<th:block th:include="front/common/loginLayout :: head"/>

<body>
<div layout:fragment="main">

    <div class="logo-title">
        <img width="200" th:src="@{/img/front/logo.png}" alt="">
    </div>
    <form action="/doForgot" method="post" style="margin-top: 30px">
        <div class="form-group">
            <label for="username"></label>
            <input class="form-control" name="username" id="username" type="text" th:placeholder="${f36}">
        </div>
        <div class="form-group">
            <label for="password"></label>
            <input class="form-control" name="password" id="password" type="password" th:placeholder="${f37}">
        </div>
        <div class="form-group">
            <label for="password1"></label>
            <input class="form-control" name="password1" id="password1" type="password" th:placeholder="${f37}">
        </div>
        <div style="text-align: center">
            <input class="btn btn-primary" type="submit" style="width: 100%" value="submit"/>
            <input class="btn btn-primary" type="button" onclick="window.location.href='/'" style="width: 100%;margin-top: 15px" value="home"/>
        </div>
    </form>
    <div class="login-bottom">
        <a href="/ts" th:text="${f41}"></a>
    </div>
</div>
<script layout:fragment="script">
    let msg = window.location.search.substring(1);
    let urlSearchParams = new URLSearchParams(msg);
    if (urlSearchParams.get("msg") !== null) {
        alert(urlSearchParams.get("msg"));
    }
    /*<![CDATA[*/
    console.log('This script will be rendered.');
    /*]]>*/
</script>
</body>
</html>

