<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/mainLayout}"
>
<th:block th:include="front/common/mainLayout :: head"/>
<body>
<th:block th:include="front/common/mainLayout :: header"/>
<div layout:fragment="inner">
    <header>
        <h1 th:text="${f12}"></h1>
        <p th:text="${f13}"></p>
    </header>
    <section class="tiles">
        <article class="style1">
									<span class="image">
										<img th:src="@{/front/images/m1.jpg}" alt=""/>
									</span>
            <a href="javascript:void(0)">
                <h2 th:text="${f6}"></h2>
                <div class="content">
                    <p>Valentina 35</p>
                </div>
            </a>

        </article>
        <article class="style2">
									<span class="image">
										<img th:src="@{/front/images/m4.jpg}" alt=""/>
									</span>
            <a href="javascript:void(0)">
                <h2 th:text="${f6}"></h2>
                <div class="content">
                    <p>Lily 28</p>
                </div>
            </a>

        </article>
        <article class="style6">
									<span class="image">
										<img th:src="@{/front/images/m6.jpg}" alt=""/>
									</span>
            <a href="javascript:void(0)">
                <h2 th:text="${f10}"></h2>
                <div class="content">
                    <p>Lily 28</p>
                </div>
            </a>
        </article>

    </section>
    <div style="position: relative;margin-top: 2em">
        <img style="width: 100%" src="/front/images/map.jpg" alt="">
        <div style="position: absolute; left: 2em;top: 5em" th:text="${f14}"></div>
        <div style="position: absolute; bottom: 5em;right: 2em;" th:text="${f15}"></div>
        <div style="text-align: center">
            <input onclick="window.location.href='/my'" class="primary" type="button" th:value="${f16}"/>
        </div>

    </div>
    <header style="margin-top: 50px">
        <h1 th:text="${f12}"></h1>
        <p th:text="${f17}"></p>
    </header>
</div>
<th:block th:include="front/common/mainLayout :: footer"/>
</body>
</html>

