<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/loginLayout}"
>
<th:block th:include="front/common/loginLayout :: head"/>
<body>
<div layout:fragment="main">
    <div class="logo-title">
        <img width="200" th:src="@{/img/front/logo.png}" alt="">
    </div>
    <form action="/doLogin" method="post" style="margin-top: 30px">
        <div class="form-group">
            <label for="username"></label>
            <input class="form-control" id="username" type="text" th:placeholder="${f36}">
        </div>
        <div class="form-group">
            <label  for="password"></label>
            <input class="form-control" id="password" type="password" th:placeholder="${f37}">
        </div>
        <div class="login-space-between">
            <div>
                <a href="/forgot" th:text="${f38}"></a>
            </div>
            <div><a href="/register" th:text="${f39}"></a></div>
        </div>
        <div style="text-align: center">
            <input class="btn btn-primary" type="submit" style="width: 100%"  th:value="${f40}"/>
        </div>
    </form>
    <div class="login-bottom">
        <p th:text="${f41}"></p>
    </div>
</div>
</body>
</html>

