<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/mainLayout}"
>
<th:block th:include="front/common/mainLayout :: head"/>
<body>
<th:block th:include="front/common/mainLayout :: header"/>

<div layout:fragment="inner">
    <h1 th:text="${f95}"></h1>
    <span class="image main"><img src="images/pic13.jpg" alt=""/></span>
    <div class="flex" style="margin-bottom: 1em">
        <div style="margin-right: 20px">
            <img style="border-radius: 50%;height: 150px;width: 150px" th:src="@{/front/images/pic02.jpg}" alt=""/>
        </div>
        <div>
            <span style="font-size: 48px" th:text="${user.name}"></span>
        </div>
    </div>
    <div style="margin-bottom: 2.75em">
        <div class="form-group">
            <label for="username" th:text="${f94}"></label>
            <button onclick="a()" th:text="${f93+'('+user.count+')'}"></button>
        </div>
    </div>
    <form th:action="@{/updateUser}" method="post">
        <div class="form-group">
            <label for="username" th:text="${f96}"></label>
            <input disabled type="text" name="username" id="username" th:value="${user.username}">
        </div>
        <div class="form-group">
            <label for="name" th:text="${f97}"></label>
            <input type="text" name="name" id="name" th:value="${user.name}">
        </div>
        <div class="form-group">
            <label for="birthday" th:text="${f98}"></label>
            <input type="text" name="birthday" id="birthday" placeholder="YYYY/MM/DD" th:value="${user.birthday}">
        </div>
        <div class="form-group">
            <label for="sex" th:text="${f99}"></label>
            <input disabled="disabled" type="text" name="sex" id="sex" th:value="${user.sex}">
        </div>
        <div class="form-group">
            <label for="country" th:text="${f100}"></label>
            <input type="text" name="country" id="country" th:value="${user.country}">
        </div>
        <div class="form-group">
            <label for="occupation" th:text="${f101}"></label>
            <input type="text" name="occupation" id="occupation" th:value="${user.occupation}">
        </div>
        <div class="form-group">
            <label for="whatsApp" th:text="${f102+'*'}"></label>
            <input type="text" name="whatsApp" id="whatsApp" th:value="${user.whatsApp}">
        </div>
        <div class="form-group">
            <label for="telegram" th:text="${f103+'*'}"></label>
            <input type="text" name="telegram" id="telegram" th:value="${user.telegram}">
        </div>
        <div class="form-group">
            <label for="hobby" th:text="${f57}"></label>
            <input type="text" name="hobby" id="hobby" th:value="${user.hobby}">
        </div>
        <div style="margin-top: 2em">
            <input type="submit" class="primary" th:value="${f86}">
        </div>
    </form>
</div>
<th:block th:include="front/common/mainLayout :: footer"/>
</body>
<script layout:fragment="script">
    function a() {
        let telegram = $("#telegram").val();
        let whatsApp = $("#whatsApp").val();
        if (telegram === '') {
            $("#telegram").focus();
            return
        }
        if (whatsApp === '') {
            $("#whatsApp").focus();
            return
        }

        let aa = '[[${f107}]]'

    }
</script>
</html>

