<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/loginLayout}"
>
<th:block th:include="front/common/loginLayout :: head"/>
<body>
<div layout:fragment="main">
    <div class="logo-title">
       <img width="200" th:src="@{/img/front/logo.png}" alt="">
    </div>
    <form action="/doRegister" method="post">
        <div class="form-group">
            <label for="username" th:text="${f43}"></label>
            <input name="username" type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="password" th:text="${f44}"></label>
            <input name="password" id="password" class="form-control" type="password">
        </div>
        <div class="form-group">
            <label for="password1" th:text="${f45}"></label>
            <input name="password1" id="password1" class="form-control" type="password">
        </div>
        <div class="form-group">
            <label for="name" th:text="${f46}"></label>
            <input name="name" id="name" class="form-control" type="text">
        </div>
        <div class="form-group ">
            <label for="sex" th:text="${f49}"></label><br>
            <select name="sex" id="sex" class="form-control">
                <th:block th:each="map : ${sex}">
                    <th:block th:each="entry : ${map.entrySet()}">
                        <option th:text="${entry.value}" th:value="${entry.key}"></option>
                    </th:block>
                </th:block>
            </select>
        </div>
        <div class="login-button-bar">
            <!--/*@thymesVar id="f86" type=""*/-->
            <input type="submit" style="width: 100%;" class="btn btn-primary" th:value="${f86}"/>
            <input class="btn btn-primary" type="button" onclick="window.location.href='/'" style="width: 100%;margin-top: 15px" value="home"/>
        </div>
    </form>
</div>
<script layout:fragment="script">

    $(document).ready(function () {
        console.log(11111111)
    });
</script>
</body>
</html>

