<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{/front/common/mainLayout}"
>
<th:block th:include="front/common/mainLayout :: head"/>
<body>
<th:block th:include="front/common/mainLayout :: header"/>
<div layout:fragment="inner">
    <h1 th:text="${f89}"></h1>
    <span class="image main"><img src="images/pic13.jpg" alt="" /></span>
    <p th:text="${f90}"></p>

</div>
<th:block th:include="front/common/mainLayout :: footer"/>
</body>
</html>

