<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增【请填写功能名称】')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-article-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">名称：</label>
            <div class="col-sm-8">
                <input name="name" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">链接：</label>
            <div class="col-sm-8">
                <input name="url" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">一级目录：</label>
            <div class="col-sm-8">
                <select class="form-control" name="menu_parent_id" id="menu_parent_id" onchange="getSubMenu()">
                    <option>请选择目录</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">二级目录：</label>
            <div class="col-sm-8">
                <select class="form-control" name="menu_id" id="menu_id">
                    <option>请选择目录</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">图片：</label>
            <div class="col-sm-8">
                <input name="imgFile" id="imgFile" class="form-control" type="file">
                <input type="hidden" name="img" id="img">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/ruoyi/js/my.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "admin/system/front/article"
    $("#form-article-add").validate({
        focusCleanup: true
    });

    $.ajax({
        url: "/admin/system/front/menu/list",
        method: "POST",
        data: {
            parentId: 0
        },
        success: function (response) {
            let menuParentId = $("#menu_parent_id");
            $.each(response, function (index, value) {
                menuParentId.append(`<option value="${value.menuId}">${value.menuName}</option>`)
            });
        },
        error: function (error) {
            console.error(error);
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            let reqData = {
                name: $("input[name='name']").val(),
                url: $("input[name='url']").val(),
                menuId: $("select[name='menu_id']").val(),
                menuParentId: $("select[name='menu_parent_id']").val(),
                img: ""
            }
            let file = $('#imgFile')[0].files[0];
            if (file) {
                let fileType = file.type;
                if (fileType === 'image/jpeg' || fileType === 'image/png') {
                    let formData = new FormData();
                    formData.append('file', file);
                    let fileUpload = new Promise(function (resolve, reject) {
                        $.ajax({
                            url: "/common/upload",
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.code === 0) {
                                    resolve(response);
                                } else {
                                    reject("上传异常");
                                }
                            },
                            error: function (xhr, status, error) {
                                reject(error);
                            }
                        });
                    });

                    fileUpload.then(function (res) {
                        console.log(res)
                        reqData.img = res.fileName;
                        add(reqData)
                    }).catch(function (err) {
                        alert("上传异常")
                    })
                } else {
                    alert("文件非法,请上传合法图片")
                }
            } else {
                add(reqData)
            }
            console.log(reqData);
        }
    }

    function add(data){
        ajaxRequest("/system/front/article/add",data,"POST").then(function (res){
            $.operate.successCallback(res);
        })
    }

    function getSubMenu() {
        let menuParentId = $("#menu_id");
        ajaxRequest("/admin/system/front/menu/list", {parentId: $("#menu_parent_id").val()}, "POST").then(function (res) {
            menuParentId.html(`<option>请选择目录</option>`);
            $.each(res, function (index, value) {
                menuParentId.append(`<option value="${value.menuId}">${value.menuName}</option>`)
            });
        })
    }
</script>
</body>
</html>