<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head(bg)">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/front/my.css}">
    <link rel="stylesheet" th:href="@{/css/front/login.css}">
    <link rel="stylesheet" th:href="@{/css/front/other.css}">
    <link rel="icon" href="data:,">
    <title th:text="${title}"></title>
    <style th:fragment="style">
        body {
            position: relative;
            background-image: url("${bg}");
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
<header>
    <div class="header-menu">
        <div>
            <a th:href="@{/about}" th:text="${f1}"></a>
            <a th:href="@{/ts}" th:text="${f2}"></a>
        </div>
        <div>
            <a th:href="@{/login}" th:text="${f3}"></a>
            <a th:href="@{/}" th:text="${f4}"></a>
            <a th:href="@{/cs}" th:text="${f5}"></a>
        </div>
    </div>
</header>
<main layout:fragment="main">
</main>
<footer>
</footer>
</body>
</html>
