<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/front/assets/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/front/assets/css/noscript.css}"/>
    </noscript>
    <script th:src="@{/js/front/global.js}"></script>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/front/my.css}">
    <title th:text="${title}"></title>
</head>
<body>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img th:src="@{/img/front/logo.svg}" alt=""/></span><span
                    class="title" th:text="${f34}"></span>
            </a>
            <!-- Nav -->
            <nav>
                <ul>
                    <li>
                        <button role="button" data-toggle="dropdown" aria-expanded="false">
                            <th:block th:each="map : ${lang}">
                                <th:block th:each="entry : ${map.entrySet()}">
                                    <!--/*@thymesVar id="currentLang" type=" java.lang.String"*/-->
                                    <th:block th:if="${entry.key == currentLang}">
                                        [[${entry.value}]]
                                    </th:block>
                                </th:block>
                            </th:block>
                        </button>
                        <div class="dropdown-menu" style="z-index: 100;">
                            <div th:each="map : ${lang}">
                                <th:block th:each="entry : ${map.entrySet()}">
                                    <!--/*@thymesVar id="currentLang" type=" java.lang.String"*/-->
                                    <a  th:href="${'?lang='+entry.key}" style="color: black;font-size: 1.1rem">[[${entry.value}]]</a>
                                </th:block>
                            </div>
                        </div>
                    </li>
                    <li><a href="#menu">Menu</a></li>

                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li>
                <th:block th:if="${user}!=null">
                    <a href="/my" th:text="${user.name}"></a>
                </th:block>
                <th:block th:if="${user}==null">
                    <a th:href="@{/login}" th:text="${f3}"></a>
                </th:block>

            </li>
            <li>
                <a th:href="@{/about}" th:text="${f1}"></a>
            </li>
            <li>
                <a th:href="@{/ts}" th:text="${f2}"></a>
            </li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner" layout:fragment="inner"></div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <section>
                <h2 th:text="${f24}"></h2>
                <form method="post" action="/mail">
                    <div class="fields">
                        <div class="field half">
                            <input type="email" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary"/></li>
                    </ul>
                </form>
            </section>

            <ul class="copyright">
                <li>&copy; [[${title}]]. All rights reserved</li>
            </ul>
        </div>
    </footer>
</div>
<script layout:fragment="script" >

</script>
<!-- Scripts -->

<script th:src="@{/front/assets/js/browser.min.js}"></script>
<script th:src="@{/front/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/front/assets/js/util.js}"></script>
<script th:src="@{/front/assets/js/main.js}"></script>
</body>
</html>
