<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--<mapper namespace="com.ruoyi.project.front.mapper.FrontMenuMapper">-->
<mapper namespace="com.ruoyi.project.front.mapper.IFrontMenuMapper">

    <resultMap type="com.ruoyi.project.front.entity.FrontMenuEntity" id="FrontMenuMap">
        <result property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="url" column="url"/>
        <result property="target" column="target"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="isRefresh" column="is_refresh"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="base_column">
        `menu_id`,
        `menu_name`,
        `parent_id`,
        `order_num`,
        `url`,
        `target`,
        `menu_type`,
        `visible`,
        `is_refresh`,
        `perms`,
        `icon`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`,
        `remark`
    </sql>

    <sql id="table_name">`ry`.`front_menu`</sql>

    <sql id="base_where">
        <where>
            <if test="arg.menuId != null">
                and `menu_id` = #{arg.menuId}
            </if>
            <if test="arg.menuName != null and arg.menuName != ''">
                and `menu_name` = #{arg.menuName}
            </if>
            <if test="arg.parentId != null">
                and `parent_id` = #{arg.parentId}
            </if>
            <if test="arg.orderNum != null">
                and `order_num` = #{arg.orderNum}
            </if>
            <if test="arg.url != null and arg.url != ''">
                and `url` = #{arg.url}
            </if>
            <if test="arg.target != null and arg.target != ''">
                and `target` = #{arg.target}
            </if>
            <if test="arg.menuType != null and arg.menuType != ''">
                and `menu_type` = #{arg.menuType}
            </if>
            <if test="arg.visible != null and arg.visible != ''">
                and `visible` = #{arg.visible}
            </if>
            <if test="arg.isRefresh != null and arg.isRefresh != ''">
                and `is_refresh` = #{arg.isRefresh}
            </if>
            <if test="arg.perms != null and arg.perms != ''">
                and `perms` = #{arg.perms}
            </if>
            <if test="arg.icon != null and arg.icon != ''">
                and `icon` = #{arg.icon}
            </if>
            <if test="arg.createBy != null and arg.createBy != ''">
                and `create_by` = #{arg.createBy}
            </if>
            <if test="arg.createTime != null">
                and `create_time` = #{arg.createTime}
            </if>
            <if test="arg.updateBy != null and arg.updateBy != ''">
                and `update_by` = #{arg.updateBy}
            </if>
            <if test="arg.updateTime != null">
                and `update_time` = #{arg.updateTime}
            </if>
            <if test="arg.remark != null and arg.remark != ''">
                and `remark` = #{arg.remark}
            </if>
        </where>
    </sql>

    <select id="selectByCondition" resultMap="FrontMenuMap">
        select
        <include refid="base_column"/>
        from <include refid="table_name"/>
        <include refid="base_where"/>
    </select>

    <select id="selectByConditionPage" resultMap="FrontMenuMap">
        select
        <include refid="base_column"/>
        from <include refid="table_name"/>
        <include refid="base_where"/>
    </select>

    <delete id="deleteByCondition">
        delete from <include refid="table_name"/>
        <include refid="base_where"/>
    </delete>

    <update id="updateBatch">
        <foreach collection="arg" item="item">
            update <include refid="table_name"/>
            <set>
                <if test="arg.menuId != null">
                    and `menu_id `= #{arg.menuId},
                </if>
                <if test="arg.menuName != null and arg.menuName != ''">
                    and `menu_name `= #{arg.menuName},
                </if>
                <if test="arg.parentId != null">
                    and `parent_id `= #{arg.parentId},
                </if>
                <if test="arg.orderNum != null">
                    and `order_num `= #{arg.orderNum},
                </if>
                <if test="arg.url != null and arg.url != ''">
                    and `url `= #{arg.url},
                </if>
                <if test="arg.target != null and arg.target != ''">
                    and `target `= #{arg.target},
                </if>
                <if test="arg.menuType != null and arg.menuType != ''">
                    and `menu_type `= #{arg.menuType},
                </if>
                <if test="arg.visible != null and arg.visible != ''">
                    and `visible `= #{arg.visible},
                </if>
                <if test="arg.isRefresh != null and arg.isRefresh != ''">
                    and `is_refresh `= #{arg.isRefresh},
                </if>
                <if test="arg.perms != null and arg.perms != ''">
                    and `perms `= #{arg.perms},
                </if>
                <if test="arg.icon != null and arg.icon != ''">
                    and `icon `= #{arg.icon},
                </if>
                <if test="arg.createBy != null and arg.createBy != ''">
                    and `create_by `= #{arg.createBy},
                </if>
                <if test="arg.createTime != null">
                    and `create_time `= #{arg.createTime},
                </if>
                <if test="arg.updateBy != null and arg.updateBy != ''">
                    and `update_by `= #{arg.updateBy},
                </if>
                <if test="arg.updateTime != null">
                    and `update_time `= #{arg.updateTime},
                </if>
                <if test="arg.remark != null and arg.remark != ''">
                    and `remark `= #{arg.remark}
                </if>
            </set>
            <where>id = #{item.id}</where>
        </foreach>
    </update>

    <insert id="insertByCondition" keyProperty="id" parameterType="com.ruoyi.project.front.entity.FrontMenuEntity" useGeneratedKeys="true">
        insert into <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="arg.menuId != null">
                    `menu_id`,
                </if>
                <if test="arg.menuName != null and arg.menuName != ''">
                    `menu_name`,
                </if>
                <if test="arg.parentId != null">
                    `parent_id`,
                </if>
                <if test="arg.orderNum != null">
                    `order_num`,
                </if>
                <if test="arg.url != null and arg.url != ''">
                    `url`,
                </if>
                <if test="arg.target != null and arg.target != ''">
                    `target`,
                </if>
                <if test="arg.menuType != null and arg.menuType != ''">
                    `menu_type`,
                </if>
                <if test="arg.visible != null and arg.visible != ''">
                    `visible`,
                </if>
                <if test="arg.isRefresh != null and arg.isRefresh != ''">
                    `is_refresh`,
                </if>
                <if test="arg.perms != null and arg.perms != ''">
                    `perms`,
                </if>
                <if test="arg.icon != null and arg.icon != ''">
                    `icon`,
                </if>
                <if test="arg.createBy != null and arg.createBy != ''">
                    `create_by`,
                </if>
                <if test="arg.createTime != null">
                    `create_time`,
                </if>
                <if test="arg.updateBy != null and arg.updateBy != ''">
                    `update_by`,
                </if>
                <if test="arg.updateTime != null">
                    `update_time`,
                </if>
                <if test="arg.remark != null and arg.remark != ''">
                    `remark`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" >
                <if test="arg.menuId != null">
                    #{arg.menuId},
                </if>
                <if test="arg.menuName != null and arg.menuName != ''">
                    #{arg.menuName},
                </if>
                <if test="arg.parentId != null">
                    #{arg.parentId},
                </if>
                <if test="arg.orderNum != null">
                    #{arg.orderNum},
                </if>
                <if test="arg.url != null and arg.url != ''">
                    #{arg.url},
                </if>
                <if test="arg.target != null and arg.target != ''">
                    #{arg.target},
                </if>
                <if test="arg.menuType != null and arg.menuType != ''">
                    #{arg.menuType},
                </if>
                <if test="arg.visible != null and arg.visible != ''">
                    #{arg.visible},
                </if>
                <if test="arg.isRefresh != null and arg.isRefresh != ''">
                    #{arg.isRefresh},
                </if>
                <if test="arg.perms != null and arg.perms != ''">
                    #{arg.perms},
                </if>
                <if test="arg.icon != null and arg.icon != ''">
                    #{arg.icon},
                </if>
                <if test="arg.createBy != null and arg.createBy != ''">
                    #{arg.createBy},
                </if>
                <if test="arg.createTime != null">
                    #{arg.createTime},
                </if>
                <if test="arg.updateBy != null and arg.updateBy != ''">
                    #{arg.updateBy},
                </if>
                <if test="arg.updateTime != null">
                    #{arg.updateTime},
                </if>
                <if test="arg.remark != null and arg.remark != ''">
                    #{arg.remark}
                </if>
        </trim>
    </insert>
</mapper>

